@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/fonts/Gilroy-Bold.woff') format('woff');
  /* Add additional font properties if needed */
}
@font-face {
  font-family: 'Gilroy-Heavy';
  src: url('/fonts/Gilroy-Heavy.woff') format('woff');
  /* Add additional font properties if needed */
}
@font-face {
  font-family: 'Gilroy-Light';
  src: url('/fonts/Gilroy-Light.woff') format('woff');
  /* Add additional font properties if needed */
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('/fonts/Gilroy-Medium.woff') format('woff');
  /* Add additional font properties if needed */
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('/fonts/Gilroy-Regular.woff') format('woff');
  /* Add additional font properties if needed */
}

