@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/fonts/Gilroy-Bold.woff') format('woff');
  /* Add additional font properties if needed */
}
@font-face {
  font-family: 'Gilroy-Heavy';
  src: url('/fonts/Gilroy-Heavy.woff') format('woff');
  /* Add additional font properties if needed */
}
@font-face {
  font-family: 'Gilroy-Light';
  src: url('/fonts/Gilroy-Light.woff') format('woff');
  /* Add additional font properties if needed */
}
@font-face {
  font-family: 'Gilroy-Medium';
  src: url('/fonts/Gilroy-Medium.woff') format('woff');
  /* Add additional font properties if needed */
}
@font-face {
  font-family: 'Gilroy-Regular';
  src: url('/fonts/Gilroy-Regular.woff') format('woff');
  /* Add additional font properties if needed */
}


::-webkit-scrollbar{
  width: 12px;
}
::-webkit-scrollbar-track{
  background: #f2f2f2;
}
::-webkit-scrollbar-thumb{
  background: #cccccc;
}
::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: white white black white;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: #aaa #aaa black #aaa;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: black white white white;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: black transparent transparent transparent;
}
.split {
  height: 300px;
}

.split > div {
  float: left;
  height: 100%;
}

.gutter {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: 50%;
}

:hover.gutter{
  background-color: aqua; 
}



.gutter.gutter-vertical {
  background-size: 16px;
  background-image: url('../../public/arrow_up_1.png');
  cursor: col-resize;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
 /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
}
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
